@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700');

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    hyphens: auto;
}

main {
    opacity: 0;
    animation: fadeIn 750ms ease 150ms;
    animation-fill-mode: forwards;
}

p,
ul {
    margin-bottom: 0rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.0;
    margin-bottom: 0rem;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.0rem;
    font-weight: 300;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.25rem;
}

td {
    vertical-align: top;
    padding: 0rem 0rem 0.2rem 0rem;
}

td:first-child {
    padding-right: 2rem;
    strong {
        font-size: 1.25rem;
        font-weight: 500;
    }
}
