@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800');

$bg: #0f1419;
$fg: #e6e1cf;
$maxw: 1000px;
$minw: 900px;

body {
    background-color: $bg;
    max-width: $maxw;
    margin: auto;
}

code {
    font-family: JetBrains Mono;
    font-size: 13px;
    tab-size: 4;
}

pre {
    margin: 0px;
    white-space: pre-wrap;
}

figure {
    margin: 0px;
}
