@use 'base' as *;

$cm: #5c6773;
$em: #36a3d9;
$er: #ff3333;
$gb: #2d3640;
$gd: #8a2be2;
$go: #14191f;
$hl: #ffffcc;
$kw: #ff7733;
$lt: #b8cc52;
$ni: #e6b673;
$nm: #ffb454;
$no: #ffee99;
$ow: #e7c547;
$dd: #e0ffff;

.highlight {
    color: $fg;
    background: $bg;
    background-color: $bg;

    .hll { background-color: $hl }
    .c { color: $cm; background-color: $bg } /* comment */
    .err { color: $fg; background-color: $bg } /* error */
    .esc { color: $fg; background-color: $bg } /* escape */
    .g { color: $fg; background-color: $bg } /* generic */
    .k { color: $kw; background-color: $bg } /* keyword */
    .l { color: $fg; background-color: $bg } /* literal */
    .n { color: $fg; background-color: $bg } /* name */
    .o { color: $fg; background-color: $bg } /* operator */
    .x { color: $fg; background-color: $bg } /* other */
    .p { color: $fg; background-color: $bg } /* punctuation */
    .ch { color: $cm; background-color: $bg } /* comment.hashbang */
    .cm { color: $cm; background-color: $bg } /* comment.multiline */
    .cp { color: $ni; background-color: $bg } /* comment.preproc */
    .cpf { color: $cm; background-color: $bg } /* comment.preprocfile */
    .c1 { color: $cm; background-color: $bg } /* comment.single */
    .cs { color: $cm; background-color: $bg } /* comment.special */
    .gd { color: $gd; font-weight: bold; background-color: $dd } /* generic.deleted */
    .ge { color: $em; text-decoration: underline; background-color: $bg } /* generic.emph */
    .gr { color: $fg; background-color: $er } /* generic.error */
    .gh { color: $kw; background-color: $bg } /* generic.heading */
    .gi { color: $lt; background-color: $go } /* generic.inserted */
    .go { color: $gb; background-color: $bg } /* generic.output */
    .gp { color: $fg; background-color: $bg } /* generic.prompt */
    .gs { color: $fg; background-color: $bg } /* generic.strong */
    .gu { color: $kw; background-color: $bg } /* generic.subheading */
    .gt { color: $fg; background-color: $er } /* generic.traceback */
    .kc { color: $kw; background-color: $bg } /* keyword.constant */
    .kd { color: $kw; background-color: $bg } /* keyword.declaration */
    .kn { color: $kw; background-color: $bg } /* keyword.namespace */
    .kp { color: $kw; background-color: $bg } /* keyword.pseudo */
    .kr { color: $kw; background-color: $bg } /* keyword.reserved */
    .kt { color: $em; background-color: $bg } /* keyword.type */
    .ld { color: $fg; background-color: $bg } /* literal.date */
    .m { color: $fg; background-color: $bg } /* literal.number */
    .s { color: $lt; background-color: $bg } /* literal.string */
    .na { color: $nm; background-color: $bg } /* name.attribute */
    .nb { color: $fg; background-color: $bg } /* name.builtin */
    .nc { color: $fg; background-color: $bg } /* name.class */
    .no { color: $no; background-color: $bg } /* name.constant */
    .nd { color: $fg; background-color: $bg } /* name.decorator */
    .ni { color: $ni; background-color: $bg } /* name.entity */
    .ne { color: $fg; background-color: $bg } /* name.exception */
    .nf { color: $nm; background-color: $bg } /* name.function */
    .nl { color: $fg; background-color: $bg } /* name.label */
    .nn { color: $fg; background-color: $bg } /* name.namespace */
    .nx { color: $fg; background-color: $bg } /* name.other */
    .py { color: $fg; background-color: $bg } /* name.property */
    .nt { color: $kw; background-color: $bg } /* name.tag */
    .nv { color: $em; background-color: $bg } /* name.variable */
    .ow { color: $ow; background-color: $bg } /* operator.word */
    .w { color: $fg; background-color: $bg } /* text.whitespace */
    .mb { color: $fg; background-color: $bg } /* literal.number.bin */
    .mf { color: $fg; background-color: $bg } /* literal.number.float */
    .mh { color: $fg; background-color: $bg } /* literal.number.hex */
    .mi { color: $fg; background-color: $bg } /* literal.number.integer */
    .mo { color: $fg; background-color: $bg } /* literal.number.oct */
    .sa { color: $lt; background-color: $bg } /* literal.string.affix */
    .sb { color: $lt; background-color: $bg } /* literal.string.backtick */
    .sc { color: $lt; background-color: $bg } /* literal.string.char */
    .dl { color: $lt; background-color: $bg } /* literal.string.delimiter */
    .sd { color: $lt; background-color: $bg } /* literal.string.doc */
    .s2 { color: $lt; background-color: $bg } /* literal.string.double */
    .se { color: $lt; background-color: $bg } /* literal.string.escape */
    .sh { color: $lt; background-color: $bg } /* literal.string.heredoc */
    .si { color: $lt; background-color: $bg } /* literal.string.interpol */
    .sx { color: $lt; background-color: $bg } /* literal.string.other */
    .sr { color: $lt; background-color: $bg } /* literal.string.regex */
    .s1 { color: $lt; background-color: $bg } /* literal.string.single */
    .ss { color: $lt; background-color: $bg } /* literal.string.symbol */
    .bp { color: $fg; background-color: $bg } /* name.builtin.pseudo */
    .fm { color: $nm; background-color: $bg } /* name.function.magic */
    .vc { color: $em; background-color: $bg } /* name.variable.class */
    .vg { color: $em; background-color: $bg } /* name.variable.global */
    .vi { color: $em; background-color: $bg } /* name.variable.instance */
    .vm { color: $em; background-color: $bg } /* name.variable.magic */
    .il { color: $fg; background-color: $bg } /* literal.number.integer.long */
}