@use 'base' as *;

$cm: #5c6773;
$em: #36a3d9;
$er: #ff3333;
$gb: #2d3640;
$gd: #8a2be2;
$go: #14191f;
$hl: #ffffcc;
$kw: #ff7733;
$lt: #b8cc52;
$ni: #e6b673;
$nm: #ffb454;
$no: #ffee99;
$ow: #e7c547;
$dd: #e0ffff;


.highlight .hll { background-color: $hl }
.highlight  { background: $bg; color: $fg; background-color: $bg }
.highlight .c { color: $cm; background-color: $bg } /* comment */
.highlight .err { color: $fg; background-color: $bg } /* error */
.highlight .esc { color: $fg; background-color: $bg } /* escape */
.highlight .g { color: $fg; background-color: $bg } /* generic */
.highlight .k { color: $kw; background-color: $bg } /* keyword */
.highlight .l { color: $fg; background-color: $bg } /* literal */
.highlight .n { color: $fg; background-color: $bg } /* name */
.highlight .o { color: $fg; background-color: $bg } /* operator */
.highlight .x { color: $fg; background-color: $bg } /* other */
.highlight .p { color: $fg; background-color: $bg } /* punctuation */
.highlight .ch { color: $cm; background-color: $bg } /* comment.hashbang */
.highlight .cm { color: $cm; background-color: $bg } /* comment.multiline */
.highlight .cp { color: $ni; background-color: $bg } /* comment.preproc */
.highlight .cpf { color: $cm; background-color: $bg } /* comment.preprocfile */
.highlight .c1 { color: $cm; background-color: $bg } /* comment.single */
.highlight .cs { color: $cm; background-color: $bg } /* comment.special */
.highlight .gd { color: $gd; font-weight: bold; background-color: $dd } /* generic.deleted */
.highlight .ge { color: $em; text-decoration: underline; background-color: $bg } /* generic.emph */
.highlight .gr { color: $fg; background-color: $er } /* generic.error */
.highlight .gh { color: $kw; background-color: $bg } /* generic.heading */
.highlight .gi { color: $lt; background-color: $go } /* generic.inserted */
.highlight .go { color: $gb; background-color: $bg } /* generic.output */
.highlight .gp { color: $fg; background-color: $bg } /* generic.prompt */
.highlight .gs { color: $fg; background-color: $bg } /* generic.strong */
.highlight .gu { color: $kw; background-color: $bg } /* generic.subheading */
.highlight .gt { color: $fg; background-color: $er } /* generic.traceback */
.highlight .kc { color: $kw; background-color: $bg } /* keyword.constant */
.highlight .kd { color: $kw; background-color: $bg } /* keyword.declaration */
.highlight .kn { color: $kw; background-color: $bg } /* keyword.namespace */
.highlight .kp { color: $kw; background-color: $bg } /* keyword.pseudo */
.highlight .kr { color: $kw; background-color: $bg } /* keyword.reserved */
.highlight .kt { color: $em; background-color: $bg } /* keyword.type */
.highlight .ld { color: $fg; background-color: $bg } /* literal.date */
.highlight .m { color: $fg; background-color: $bg } /* literal.number */
.highlight .s { color: $lt; background-color: $bg } /* literal.string */
.highlight .na { color: $nm; background-color: $bg } /* name.attribute */
.highlight .nb { color: $fg; background-color: $bg } /* name.builtin */
.highlight .nc { color: $fg; background-color: $bg } /* name.class */
.highlight .no { color: $no; background-color: $bg } /* name.constant */
.highlight .nd { color: $fg; background-color: $bg } /* name.decorator */
.highlight .ni { color: $ni; background-color: $bg } /* name.entity */
.highlight .ne { color: $fg; background-color: $bg } /* name.exception */
.highlight .nf { color: $nm; background-color: $bg } /* name.function */
.highlight .nl { color: $fg; background-color: $bg } /* name.label */
.highlight .nn { color: $fg; background-color: $bg } /* name.namespace */
.highlight .nx { color: $fg; background-color: $bg } /* name.other */
.highlight .py { color: $fg; background-color: $bg } /* name.property */
.highlight .nt { color: $kw; background-color: $bg } /* name.tag */
.highlight .nv { color: $em; background-color: $bg } /* name.variable */
.highlight .ow { color: $ow; background-color: $bg } /* operator.word */
.highlight .w { color: $fg; background-color: $bg } /* text.whitespace */
.highlight .mb { color: $fg; background-color: $bg } /* literal.number.bin */
.highlight .mf { color: $fg; background-color: $bg } /* literal.number.float */
.highlight .mh { color: $fg; background-color: $bg } /* literal.number.hex */
.highlight .mi { color: $fg; background-color: $bg } /* literal.number.integer */
.highlight .mo { color: $fg; background-color: $bg } /* literal.number.oct */
.highlight .sa { color: $lt; background-color: $bg } /* literal.string.affix */
.highlight .sb { color: $lt; background-color: $bg } /* literal.string.backtick */
.highlight .sc { color: $lt; background-color: $bg } /* literal.string.char */
.highlight .dl { color: $lt; background-color: $bg } /* literal.string.delimiter */
.highlight .sd { color: $lt; background-color: $bg } /* literal.string.doc */
.highlight .s2 { color: $lt; background-color: $bg } /* literal.string.double */
.highlight .se { color: $lt; background-color: $bg } /* literal.string.escape */
.highlight .sh { color: $lt; background-color: $bg } /* literal.string.heredoc */
.highlight .si { color: $lt; background-color: $bg } /* literal.string.interpol */
.highlight .sx { color: $lt; background-color: $bg } /* literal.string.other */
.highlight .sr { color: $lt; background-color: $bg } /* literal.string.regex */
.highlight .s1 { color: $lt; background-color: $bg } /* literal.string.single */
.highlight .ss { color: $lt; background-color: $bg } /* literal.string.symbol */
.highlight .bp { color: $fg; background-color: $bg } /* name.builtin.pseudo */
.highlight .fm { color: $nm; background-color: $bg } /* name.function.magic */
.highlight .vc { color: $em; background-color: $bg } /* name.variable.class */
.highlight .vg { color: $em; background-color: $bg } /* name.variable.global */
.highlight .vi { color: $em; background-color: $bg } /* name.variable.instance */
.highlight .vm { color: $em; background-color: $bg } /* name.variable.magic */
.highlight .il { color: $fg; background-color: $bg } /* literal.number.integer.long */
